<div fxLayoutAlign ="start stretch"  class="mainDiv" fxFlexFill fxLayout ="column"  fxLayoutGap="5px" >
   <mat-card class ="mainDiv1">
      <mat-card-title  fxFlexAlign="stretch" class="toolBar">Add New Stock</mat-card-title>
         <form [formGroup]="stockForm" (ngSubmit)="onSubmit(stockForm)" fxFlexAlign="stretch" class="formDiv" fxLayout ="column"  fxLayoutGap="10px"> 
            <div class="fxFlexdiv"  fxFlexAlign="center start" fxLayout ="row"  fxLayout.xs="column" fxLayoutGap="10px" >
               <mat-card  fxFlexLayout ="column"  fxFlex="35">
                  <div fxFlexAlign="stretch" fxLayout ="column"  class="brandForm">
                     <mat-form-field  color="accent" [appearance]="appearance" >
                        <mat-label>Product Type</mat-label>
                        <select matNativeControl formControlName ="productType" name="allProductTypes" required  class="form-control">
                        <option value="" selected></option>
                        <option *ngFor="let product of genericService.productTypes.dtlSystemCodeDetails" [value]="product.systemCodeDtlId">
                           {{product.value}} 
                        </option>
                        </select>  
                     </mat-form-field>

                     <mat-form-field  color="warn" [appearance]="appearance" >
                        <mat-label>Brand Name</mat-label> 
                              <select matNativeControl
                                    formControlName ="brandId"
                                    name="allMobileBrands"
                                    (change)="getModelsByBrand()"
                                    required
                                    class="form-control">
                              <option  value=" " selected ></option>
                              <option *ngFor="let mobibeBrand of allMobileBrands" [value]="mobibeBrand.id">
                              {{mobibeBrand.brandName}}
                              </option>
                           </select> 
                        </mat-form-field>

                        <mat-form-field  color="accent" [appearance]="appearance" >
                           <mat-label>Model Name</mat-label>
                           <select matNativeControl 
                                    formControlName ="modelId"
                                    name="allMobileModels" 
                                    required 
                                    (change)="getSparePartsByBrandIdAndModelId()"          
                                    class="form-control">
                           <option value="" selected></option>
                           <option *ngFor="let mobibeModel of allMobileModels" [value]="mobibeModel.id">
                              {{mobibeModel.modelName}}
                           </option>
                           </select> 
                        </mat-form-field>

                        <mat-form-field  color="accent" [appearance]="appearance" >
                           <mat-label>part/spare part</mat-label>
                           <select matNativeControl formControlName ="sparePartId" 
                                    name="allSpareParts" required
                                    class="form-control"
                                    (change)="getProductRefrence()">
                           <option value="" selected></option>
                           <option *ngFor="let sparePart of allSpareParts" [value]="sparePart.id">
                              {{sparePart.sparePartName}}
                           </option>
                           </select> 
                        </mat-form-field>


                  </div>
               </mat-card>

               <mat-card  fxFlex="30"> <!--middle box -->
     
                  <div fxFlexAlign="stretch" fxLayout ="column"  class="brandForm">
                     <mat-form-field  color="accent" [appearance]="appearance" >
                        <input matInput placeholder="Retail Buy" formControlName ="retailBuy" (keyup)="setWholeSaleBuy()">
                     </mat-form-field> 

                     <mat-form-field  color="accent" [appearance]="appearance" >
                        <input matInput placeholder="Retail Sell" formControlName ="retailSell"  (blur)="getRetailBuyPercentage()">
                     </mat-form-field>

                     <mat-form-field  color="accent" [appearance]="appearance" >
                        <input matInput placeholder="wholeSale Buy" formControlName ="wholeSaleBuy">
                     </mat-form-field>

                     <mat-form-field  color="accent" [appearance]="appearance" >
                        <input matInput placeholder="wholeSale Sell" formControlName ="wholeSaleSell" (blur)="getWholeSaleBuyPercentage()">
                     </mat-form-field> 
                  </div>
               </mat-card> 

               <mat-card  fxFlex="35"> <!-- third box -->

                  <div fxFlexAlign="stretch" fxLayout ="column"  class="brandForm">

                     <mat-form-field  color="accent" [appearance]="appearance" >
                        <mat-label>Product Qualitity</mat-label>
                        <select matNativeControl formControlName ="productQuality"
                              name="allProductQuality" required
                              class="form-control" (change)= "getProductRefrence()">
                        <option value="" selected></option>
                        <option *ngFor="let productQuality of genericService.productQuality.dtlSystemCodeDetails" [value]="productQuality.systemCodeDtlId">
                           {{productQuality.value}}
                        </option>
                        </select> 
                     </mat-form-field>

         <!-- <mat-form-field  color="accent" [appearance]="appearance" >
            <input matInput placeholder="Quality/Type" formControlName ="productQuality">
         </mat-form-field> -->
  
                     <mat-form-field  color="accent" [appearance]="appearance" >
                     <input matInput placeholder="product Quantity" formControlName ="quantity">
                     </mat-form-field>
                     
                     <input type="hidden" formControlName ="invoiceId">

                     <mat-form-field   color="accent" [appearance]="appearance"  >
                        <input matInput
                              placeholder="Invoice Number"
                              required
                              formControlName ="invoiceNumber"
                              (blur)="checkInvoiveExists()">
                              <button mat-button  matSuffix mat-icon-button aria-label="Clear" type="button" (click)="searchInvoiceDialog()">
                                 <mat-icon>open_in_new</mat-icon>   
                              </button>
                     </mat-form-field>


                     <!-- <mat-form-field class="search-form-field"  floatLabel="never">
                        <input matInput [(ngModel)] = "searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
                        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="clearOnsearch()">
                        <mat-icon>close</mat-icon> 
                        </button>
                  </mat-form-field> -->
        
                  <mat-form-field color="accent" [appearance]="appearance" >  
                     <input matInput placeholder="Product Refrence No" formControlName ="productRefrence" readonly>
                     <button mat-button  matSuffix mat-icon-button aria-label="Refresh" type="button" (click)="getProductRefrence()">
                        <mat-icon>refresh</mat-icon>   
                     </button>
                  </mat-form-field>

                </div>
            </mat-card>
        </div>
        <div>
         <mat-card>
            <button mat-button mat-raised-button class="bdrLine"  [disabled] ="stockForm.invalid" fxFlex ="100" fxFlexAlign="center center" >Save</button>
         </mat-card>
      </div>
         
      </form> 
      <!-- {{stockForm.value |json}}  -->

      <!-- <div fxFlexAlign="center center" class ="errorDisplay" >
            <span class='has-text-danger' fxFlex ="30" fxFlexAlign="center center"> {{errorMsg}}</span>
            
      </div> -->

         <div>
            <span class='has-text-danger'> {{errorMsg}}</span>
         </div> 

   </mat-card>
 </div>
 <!-- <div>genericService.productTypes.dtlSystemCodeDetails ==></div> -->
<!-- <div>{{genericService.productTypes.dtlSystemCodeDetails  | json }}</div> -->
 
 