
mat-card {
    padding: 0;
}
.invoiceForm{
    padding: 10px 20px 20px 20px;
}

.feildDiv{
    padding: 10px;
}

.bdrLine{
    outline: 1px solid black;
   }



// .toolBar{
//     text-align: center;
//     display: block;
//     margin: auto;
//    // border-radius: 5px;
//    background: content-box radial-gradient(rgb(158, 202, 37), rgb(144, 144, 160));
//    //word-spacing: 10px;
//     //letter-spacing: 4px;
//     //height: 40px;
// }
