
.footerClass{
    //background-color: #cfd8dc;
    background: content-box radial-gradient(rgba(162, 167, 151, 0.164), rgb(144, 144, 160));
   // background: content-box radial-gradient(rgba(162, 167, 151, 0.164), rgb(144, 144, 160));
    margin: 0px;
    height: 100%;
}
.navbar-item{
    text-decoration: none;
    word-spacing: 4em;
    padding: 5px;
} 