
<div class="footerClass" fxFlex fxLayout= "row" fxLayoutAlign="flex-end">
    <a class ="navbar-item" routerLink ="/dashboard">Contacts</a>
    <a class ="navbar-item" routerLink ="/products">About-us </a>
</div>

<!--
   <div fxFlex fxLayout= "row" fxLayoutAlign="flex-end" class="footerClass">
          <ul fxLayout ="row" fxLayoutGap ="15px">
          <li>
              <div class ="navbar-end">
                <a class ="navbar-item" routerLink ="/dashboard">Contacts
                </a>
                <a class ="navbar-item" routerLink ="/products">About Us
                </a> 
              </div>
          </li>
        </ul>
      </div>  
    
      -->