
table {
    width: 100%;
    align-content: center;
   }

.hide{
  display: none;
}
  .search-div{
    //margin: 10px;
     padding: 10px;
   // box-shadow: 1PX 1px 3px ;
     outline: 1px solid black;

  }
  #createBtn{
     outline: 1px solid black;
  }
  .dataTable{
     outline: 1px solid black;
  }
  .mainDiv{
     outline: 1px solid black;
  }
  .search-form-field{
    width: 80%; 
    //margin-left: 10px;
    padding: 0px 10px 0px 10px;
    //background-color: #f5f5f5;
    //border-radius: 5px;
   }

  