<div class="outerIndex bdrLine" >
  <div  class="navbar bdrLine">
      <nav role="navigation" aria-label="main navigation">
          
          <div class ="navbar-end">
                <a class ="navbar-item" routerLink ="/login">login </a>
                <a class ="navbar-item" routerLink ="/signup">signup </a>
          </div>
        </nav>
  </div>
  <div class="mainBlock">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <mat-card flexLayout="cloumn"fxFlex = "50">
   
  <mat-card-title></mat-card-title>
</mat-card> -->
