*{
    margin: 0;
    padding: 0;
}
.bgimg{
position: relative;
 width: 100%;
 height: 91vh;
 box-sizing: border-box;
 //background-color: red;
 //background-image: linear-gradient(27deg, #013A6B  50%, #004E95 50%);
 //background-image: linear-gradient(27deg, #cfd8dc 50%,  #e0f2f1 50%);
 background-color  :#48a999;
 
}

.centerdiv{
    width: 350px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    // background-image: linear-gradient(30deg, #c3cec8 50%, #c7cfd3 80% );
    // background-image: linear-gradient(30deg, #c7cfd3 80% , #c3cec8 50%);
    background-color:#80d6ff;
    //background-image: linear-gradient(27deg, #004E95  50%, #013A6B 50%);
    //background-image: linear-gradient(27deg,  #e0f2f1 50% , #cfd8dc 50%);
    box-shadow: 0 1px 6px ;
}

#profilepic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    top: -60px;
    left: calc((350px - 120px)/2);
}

h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    word-spacing: 10px;
    margin-top: -50px;
    margin-bottom: 50px;
    text-shadow: -2px 2px 1px #0A84c6;
}
.inputbox{
    width: calc(100% - 40px);
    height: 30px;
    display: block;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
}

::placeholder{
    letter-spacing: 2px;
    color: black;
}
button{
    width: calc(100% - 40px);
    height: 30px;
    display: block;
    margin: auto;
   color: white;
   background-color: #0A84C6;
   border: none;
}

.forgotSection{
    width: calc(100% - 40px);
    line-height: 30px;
    display: block;
    margin: auto;
    background-color: dodgerblue;
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
}

.has-text-danger{
    width: calc(100% - 40px);
    display: block;
    margin: auto;
    color: red;
    text-align: center;
}