

table {
    width: 100%;
    align-content: center;
  }
  
.hide{
      display: none;
  }

// mat-footer-row mat-footer-cell{
//       justify-content: center;
//       font-style: italic;
//   }

  .search-div{
    padding: 10px;
    //border: 1px solid black;
    outline:  1px solid black;
  }
  .search-form-field{
    width: 80%; 
    padding: 1px 10px;
    background-color: #f5f5f5;
    outline:  1px solid black;
    border-radius: 5px;
  }

  #createBtn{
   // border: 1px solid black;
    outline:  1px solid black;
  }
  .dataTable{
    //border: 1px solid black;
    outline:  1px solid black;
  }
  .mainDiv{
   // border: 1px solid black;
    outline:  1px solid black;
  }

  // .mainDiv{
//     border:2px solid rgb(16, 230, 80); 
// }
// .mainDiv1{
//     border:2px solid rgb(230, 95, 16); 
// }
// // .mainDiv2{
// //     border:2px solid rgb(16, 180, 230); 
// // }

   