table {
  width: 100%;
  align-content: center;

}
.mat-focused .mat-form-field-label { 
  color: green !important;
  font-size: 30px;
} 

// usefull to change table colum structue.
// .mat-footer-row,
// .mat-header-row,
// .mat-row {
//     display: inline-flex;
//     min-width: 100%;
// }


// .table-row {
//   height: 10px !important;
// }

// .mat-header-row, .mat-row {
//   min-height: 10px;
// }

.toolBarx{
  padding: 0;
  margin: 0;
  // -moz-user-select: none;
  // -ms-user-select: none;
  //  user-select: none;
  //  text-align: center;
   text-transform: uppercase;
 background: content-box radial-gradient(rgba(162, 167, 151, 0.164), rgb(144, 144, 160));
 }
 

//  .totalValueDiv{
//   border: 1px solid red;
//  }

.search-div{
  //margin: 10px;
  padding: 0px;
}
.search-form-field{
   //outline: 1px solid black;
  //border: 1px solid black;
  width: 30%;   
  margin-left: 10px;
  //padding: 5px 10px;
 // background-color: #f5f5f5;
  //background-color: #cee2da;
  //border-radius: 5px;
}
.matLabel{
   outline: 1px solid black;
  //border: 1px solid green; 
}

.mainErrorDiv{
  //border: 1px solid green;
  padding: 1px;
}


.mainDiv1{
 // padding: 10px 2px 0px 2px;
  padding: 2px;
  //border: 1px solid green;
 // border: 1px solid red
 }

 .matCardSrch{
   //border: 1px solid green;
    outline: 1px solid black;
  padding: 10px 0px 10px 5px;
}

 .salesTableDiv{
   padding: 5px 2px 5px 2px;
  border: 1px solid rgba(162, 167, 151, 0.164);
 }

 
 .SalesTable{
  //border: 1px solid green;
   outline: 1px solid black;
 }
 .mat-elevation-z8{
  //border: 1px solid green;
   outline: 1px solid black;
  padding: 0px;
 }
.has-text-danger{
  color: red;
}

mat-header-row{
  background-color: lavender;
}

.saveSalesOrder{
   outline: 1px solid black;
  //border: 1px solid green;
  //background-color: lavender;
   //padding: 2px;
 }

 .saveSalesOrder1{
   padding: 1px;
  //padding: 0px  1px  0px  1px;
 }
// .footerRow{
//   border: 1px solid red;
// }

// .amountTest{
//   border: 1px solid greenyellow;
// }
// button{
//   border: 1px solid green;
//   //padding: 20px;
// }

// .xyz{
//   border: 1px solid red;
// }
// .abc{
//   border: 1px solid greenyellow;
// }
.boxBorderColor {
  outline: 1px solid black;
}
.dataTable{
  outline: 1px solid black;
}
  