mat-card {
    padding: 0;
    outline: 1px solid black;
}

.productPartForm{
    padding: 10px 40px 30px 40px;
    //padding: top right  down left
}

.toolBar{
    //background-color: #fafafa;
    text-align: center;
    //color: white;
    //box-shadow: 10px 10px 16px;
   // height: 40px;
    display: block;
    margin: auto;
    //border-radius: 5px;
}
