* {
 //font-size: 12px;
  font-family: Raleway 'Times New Roman', Times, serif, sans-serif !important; 
}

.mainDiv{ 
  padding: 1px;
  //border: 1px solid black;
 //outline: 1px solid black;
}
.mainDiv1{ 
  outline: 1px solid black;
  padding: 1%;
}
.search-control{
  outline: 1px solid black;
  padding: 10px;
 // padding: 10px 0px 10px 2px;
}

.matFeildSelect{
 //padding: 0px;
 // outline: 1px solid black;
}

// .search-div{
//   //margin: 10px;
//   margin-top: 0; 
//   //border: 1px solid yellow; 
// }
// .search-selection{
//   border: 1px solid green;
// }
.dataTable{
  outline: 1px solid black;
}
table {
    width: 100%;
    //margin: 10px auto;
   // align-content: center;
    
  }

  .hide{
    display: none;
  }
#createBtn{
  //border: 1px solid black; 
  outline: 1px solid black;
}
 
 
 .search-form-field{
    width: 70%; 
    //margin-left: 10px;
   // padding: 5px 10px;
    //background-color: #f5f5f5;
    //border-radius: 5px;
   }