
<div fxLayoutAlign="center center" fxFlexFill class="maindiv">
    <mat-card fxFlex="35">
      <mat-toolbar color ="primary">Login Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="loginForm">
            <mat-form-field>
              <mat-label>user Name</mat-label>
              <input matInput placeholder="user Name" >
            </mat-form-field>
          
            <mat-form-field >
                <mat-label>Password</mat-label>
                <input matInput type ="password" placeholder= "Password" >
            </mat-form-field>
            <button mat-raised-button type="submit"  
            matTooltip="click to login"
            matTooltipPosition="above" > Login</button>
          </form>
    </mat-card> 
</div>
